<div class="create-order">
  <h2>Создание заказа</h2>
  <hr>
  
  <form [formGroup]="createOrderForm">
    <div class="create-order-form">
      @if (stageOne) {
        <a routerLink="/cart"><- Назад</a>
        <div class="items-container">
          <h3>Выбор детали</h3>
          <br>
          <br>
          @for (toy of allToys; track toy; let index = $index) {
            <div class="item default-border"
                (click)="this.createOrderForm.controls.toyInput.setValue(toy.partName + ' - ' + toy.code);"
            >
              <p>"{{ toy.partName }}"</p>
              <hr>
              <p>Код {{ toy.code }}</p>
            </div>
          }
        </div>
      } @else if (stageTwo) {
        <a (click)="this.createOrderForm.controls.toyInput.setValue('');"><- Назад</a>
        <h3>Выбор цвета</h3>
        <br>
        <br>
        <div class="items-container">
          @for (color of colorsInfo; track color; let index = $index) {
            <div class="item default-border" 
                (click)="this.createOrderForm.controls.color.setValue(color.color + ' - ' + color.code);"
            >
              <p>"{{ color.color }}"</p>
              <hr>
              <p>Код цвета {{ color.code }}</p>
            </div>
          }
        </div>
      } @else {
        <a (click)="this.createOrderForm.controls.color.setValue('');"><- Назад</a>

        <label for="amount">
          Количество
        </label>
        <input id="amount"
               [class]="amountValid ? null : 'invalid'"
               type="number" min="1" formControlName="amount"/>
      }      

      <!--  -->

      <input id="toyInput" hidden
             [class]="toyInputValid ? null : 'invalid'"
             type="text" formControlName="toyInput"/>

      <input id="color" hidden
             [class]="colorValid ? null : 'invalid'"
             type="text" formControlName="color"/>
    </div>
  </form>
</div>
