<div class="create-order">
  <h2>Создание заказа</h2>
  <hr>
  <a routerLink="/list"><- Назад</a>
  <form [formGroup]="createOrderForm">
    <div class="create-order-form">

      <label for="partName">
        Название детали
      </label>
      <input id="partName"
             [class]="partNameValid ? null : 'invalid'"
             type="text" formControlName="partName"/>

      <div class="wrapper-row form-wrap"></div>

      <label for="code">
        Код детали
      </label>
      <input id="code"
             [class]="codeValid ? null : 'invalid'"
             type="text" formControlName="code"/>

      <div class="wrapper-row form-wrap"></div>

      <label for="color">
        Цвет
      </label>
      <input id="color"
             [class]="colorValid ? null : 'invalid'"
             type="text" formControlName="color"/>

      <div class="wrapper-row form-wrap"></div>

      <label for="colorCode">
        Код цвета
      </label>
      <input id="colorCode"
             [class]="colorCodeValid ? null : 'invalid'"
             type="text" formControlName="colorCode"/>

      <div class="wrapper-row form-wrap"></div>

      <label for="amount">
        Количество
      </label>
      <input id="amount"
             [class]="amountValid ? null : 'invalid'"
             type="number" min="1" formControlName="amount"/>

      <div class="wrapper-row form-wrap"></div>

      <label for="desktop">
        Стол доставки
      </label>
      <input id="desktop"
             [class]="desktopValid ? null : 'invalid'"
             type="text" formControlName="desktop"/>

    </div>
  </form>
</div>
