<div class="create-order">
  <h2>Создание заказа</h2>
  <hr>
  <a routerLink="/cart"><- Назад</a>
  <form [formGroup]="createOrderForm">
    <div class="create-order-form">

      <label for="partName">
        Название детали
      </label>
      <input id="partName"
             [class]="partNameValid ? null : 'invalid'"
             type="text" formControlName="partName"/>

      <div class="wrapper-row form-wrap"></div>

      <label for="">
        И
      </label>

      <div class="wrapper-row form-wrap"></div>

      <label for="code">
        Код детали
      </label>
      <input id="code"
             [class]="codeValid ? null : 'invalid'"
             type="text" formControlName="code"/>

      <div class="wrapper-row form-wrap"></div>

      @if (PartNameSimilarityList.length > 0) {
        <label for="">
          Подсказки по названию детали
        </label>

        <div class="find-color">
          @for (obj of PartNameSimilarityList; track obj) {
            <div class="item" (click)="setPartNameAndCode(obj.str, undefined);">
              Название {{ obj?.str }}
            </div>
          }
        </div>

        <div class="wrapper-row form-wrap"></div>
      }
      

      @if (CodeSimilarityList.length > 0) {
        <label for="">
          Подсказки по коду детали
        </label>

        <div class="find-color">
          @for (obj of CodeSimilarityList; track obj) {
            <div class="item" (click)="setPartNameAndCode(undefined, obj.str);">
              Код {{ obj?.str }}
            </div>
          }
        </div>

        <div class="wrapper-row form-wrap"></div>
      }

      <label for="color">
        Цвет | Код цвета
      </label>
      <input id="color" 
             [class]="colorValid ? null : 'invalid'"
             type="text" formControlName="color"/>

      @if (ColorSimilarityList.length > 0) {
      <div class="wrapper-row form-wrap"></div>

      <div class="find-color">
        
          @for (obj of ColorSimilarityList; track obj) {
            <div class="item" (click)="this.createOrderForm.controls.color.setValue(ColorStrings[obj.code - 1]);">
              {{ ColorStrings[obj.code - 1] }}
            </div>
          }
      </div>
      }

      <div class="wrapper-row form-wrap"></div>


      <label for="amount">
        Количество
      </label>
      <input id="amount"
             [class]="amountValid ? null : 'invalid'"
             type="number" min="1" formControlName="amount"/>

    </div>
  </form>
</div>
