<div class="orders">
  <h2>Список заявок</h2>
  <hr>
  @if (user === undefined) {
    <div class="loader-div">
      <img src="/assets/img/loading.gif" alt="Загрузка..." height="128" width="128" />
    </div>
  } @else {
    <div class="update-orders">
      <p (click)="updateOrders();" >Обновить список заявок</p>
      <div (click)="updateOrders();" [id]="'refreshIcon'"></div>
    </div>
    @if (user.role === UserRole.Deliver) {
      <div class="orders-list">
        <div class="title">
          <h3>{{ OrderType.Current }}</h3>
          <img (click)="deliverOpened = !deliverOpened;" [ngClass]="['switcher', deliverOpened ? 'opened' : '']"
               [height]="32" [width]="20">
        </div>
        <div [ngClass]="['content', deliverOpened ? 'content-opened' : '']">
          @if (timestamps === undefined) {
            <div class="loader-div">
              <img src="/assets/img/loading.gif" alt="Загрузка..." height="128" width="128" />
            </div>
          } @else {
            @for (timestamp of CurrentTimestamps; track timestamp) {
              <div class="content-item">
                <p>Заявка №{{ timestamp.cartTimestamp }}</p>
                <!-- <p>Текст заявки:</p> -->
                <div class="order-properties">
                  <div>
                    @for (item of timestamp.orders; track item; let index = $index) {
                      <p><b>Позиция {{ index+1 }}:</b></p>
                      <p>Название детали: {{ item.toy.partName }}</p>
                      <p>Код: {{ item.toy.code }}</p>
                      <p>Цвет: {{ item.color }}</p>
                      <p>Код цвета: {{ item.colorCode }}</p>
                      <p>Количество: {{ item.amount }}</p>
                      <hr>
                    }
                    <p>Стол доставки: {{ timestamp.orders[0].desktop }}</p>
                    <!-- <p>{{ order.fullText }}</p> -->
                  </div>
                </div>
                <button (click)="closeOrders(timestamp.orders[0].cartTimestamp)">Завершить заказ</button>
                <p [ngClass]="['hint', 'created-difference']">Создан: {{ timeDifference(timestamp.cartTimestamp) }}</p>
              </div>
            }
          }

        </div>
      </div>
      <hr>
    }

    @if (user.role === UserRole.Worker) {
      <div class="orders-list">
        <div class="title">
          <h3>{{ OrderType.Created }}</h3>
          <img (click)="workerOpened = !workerOpened;" [ngClass]="['switcher', workerOpened ? 'opened' : '']"
               [height]="32" [width]="20">
        </div>
        <div [ngClass]="['content', workerOpened ? 'content-opened' : '']">
          @if (timestamps === undefined) {
            <div class="loader-div">
              <img src="/assets/img/loading.gif" alt="Загрузка..." height="128" width="128" />
            </div>
          } @else {
            @for (timestamp of CreatedTimestamps; track timestamp) {
              <div class="content-item">
                <p>Заявка №{{ timestamp.cartTimestamp }}</p>
                <!-- <p>Текст заявки:</p> -->
                <div class="order-properties">
                  <div>
                    @for (item of timestamp.orders; track item; let index = $index) {
                      <p>Позиция {{ index+1 }}:</p>
                      <p>Название детали: {{ item.toy.partName }}</p>
                      <p>Код: {{ item.toy.code }}</p>
                      <p>Цвет: {{ item.color }}</p>
                      <p>Код цвета: {{ item.colorCode }}</p>
                      <p>Количество: {{ item.amount }}</p>
                      <hr>
                    }
                    <p>Стол доставки: {{ timestamp.orders[0].desktop }}</p>
                    <!-- <p>{{ order.fullText }}</p> -->
                    @if (timestamp.orders[0].takenBy?.id) {
                      <hr>
                      <p><b>ВНИМАНИЕ! <br>Заказ взят доставщиком.</b></p>
                    }
                  </div>
                </div>
                <button class="red" (click)="cancelOrders(timestamp.orders[0].cartTimestamp)">Отменить заказ</button>
                <p [ngClass]="['hint', 'created-difference']">Создан: {{ timeDifference(timestamp.cartTimestamp) }}</p>
              </div>
            }
          }

        </div>
      </div>
      <hr>
    }

    <div class="orders-list">
      <div class="title">
        <h3>{{ OrderType.Other }}</h3>
        <img (click)="otherOpened = !otherOpened;" [ngClass]="['switcher', otherOpened ? 'opened' : '']" [height]="32"
             [width]="20">
      </div>
      <div [ngClass]="['content', otherOpened ? 'content-opened' : '']">
        @if (timestamps === undefined) {
          <div class="loader-div">
            <img src="/assets/img/loading.gif" alt="Загрузка..." height="128" width="128" />
          </div>
        } @else {
          @for (timestamp of OtherTimestamps; track timestamp) {
            <div class="content-item">
              <p>Заявка №{{ timestamp.cartTimestamp }}</p>
              @if (user.role === UserRole.Deliver) {
                <button (click)="takeOrders(timestamp.orders[0].cartTimestamp)">Взять заказ</button>
              }
              <p [ngClass]="['hint', 'created-difference']">Создан: {{ timeDifference(timestamp.cartTimestamp) }}</p>
            </div>
          }
        }
      </div>
    </div>
  }
</div>
